* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     background-color: rgba(167, 167, 167, 0.4);
// }

body {
    background-color: aqua;
}

.top-main-menu {
    text-align: center;
    .brand-logo {
        left: 0;
    }
    //top buttons
    .top-menu:hover {
        background-color: #2bbbad !important;
    }
    nav ul li {
        float: none;
        display: inline-block;
    }
}