* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgba(167, 167, 167, 0.4);
}

a {
  color: inherit;
}

.navbar-fixed {
  z-index: 3100;
}

.top-main-menu {
  text-align: center;
}

.top-main-menu .brand-logo {
  left: 0;
}

.top-main-menu .top-menu:hover {
  background-color: #2bbbad !important;
}

.top-menu:hover {
  background-color: #2bbbad !important;
}

nav ul li {
  float: none;
  display: inline-block;
}

.fixed-action-btn {
  position: absolute;
  bottom: -40px;
}

@media only screen and (max-width: 768px) {
  .fixed-action-btn {
    bottom: -45px;
  }
}

@media only screen and (max-width: 568px) {
  .fixed-action-btn {
    right: -42px;
    bottom: -40px;
  }
}

.container {
  width: 90%;
  margin-top: 25px;
}

#menu {
  top: 90%;
}

/* label color */
.input-field label {
  color: #37474f;
}

.card, .horizontal, .hoverable {
  word-break: break-word;
}

.card.horizontal {
  margin-bottom: 65px;
}

@media only screen and (max-width: 568px) {
  .card.horizontal {
    margin-bottom: 40px;
  }
}

.card.horizontal .card-image {
  max-width: 80%;
  padding-left: 25px;
  padding-top: 10px;
}

.card-img {
  width: 100px;
}

@media only screen and (max-width: 568px) {
  .card-image {
    display: none;
  }
}

.card-image img {
  width: 80px;
  margin-top: 20px;
}

.card.horizontal .card-stacked {
  padding-top: 5px;
  padding-right: 25px;
}

@media only screen and (max-width: 568px) {
  .card.horizontal .card-stacked {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 568px) {
  .homepage-card-content {
    display: none;
  }
}

@media only screen and (max-width: 568px) {
  .card .card-content {
    padding: 0px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 568px) {
  .homepage-post-btn {
    display: none;
  }
}

.homepage-post-btn-mobile {
  display: none;
}

@media only screen and (max-width: 568px) {
  .homepage-post-btn-mobile {
    display: block;
    margin: 3px;
  }
}

@media only screen and (max-width: 568px) {
  .fixed-action-btn-mobile {
    display: none;
  }
}

@media only screen and (max-width: 568px) {
  .card-author {
    margin-top: 10px;
  }
}

.read-post-comment-btn {
  width: 45%;
}

.active-btn {
  background-color: #1a73e8 !important;
}

.not-pinned {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.dislike-hand {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.collection .collection-item.avatar {
  padding-left: 20px;
}

.padding-removed {
  padding-bottom: none !important;
}

.recommended-title p {
  padding-top: 5px;
  padding-left: 10px;
}

.text-area-span {
  padding-left: 5px;
}

#content {
  min-height: 250px;
  border: 1px solid;
  padding: 5px;
}

.edit-post-btn {
  margin: 3px;
  width: 140px;
}

.back-btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal {
  width: 33%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .modal {
    width: 73%;
  }
}

.modal a {
  margin-top: 15px;
  width: 100px;
}

.post-title {
  margin-left: 20px;
}

@media only screen and (max-width: 568px) {
  .hide-arrow {
    display: none;
  }
}

.card-action {
  text-align: center;
}

@media only screen and (max-width: 568px) {
  .card-action {
    padding: 15px 2px !important;
  }
}

code {
  background-color: #eaeaea;
}

@media only screen and (max-width: 568px) {
  .read-post-btn {
    width: 66%;
  }
}

@media only screen and (max-width: 768px) {
  .my-page-menu {
    margin-bottom: 30px;
  }
}

.my-page-content {
  margin-top: 20px;
}

.my-page-menu {
  margin-top: 8px;
}

@media only screen and (max-width: 768px) {
  .my-page-menu {
    width: 100%;
    text-align: center;
  }
}

.my-page-btn {
  width: 170px;
}

.element.style {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0px) translateX(15px) !important;
          transform: scale(1) translateY(0px) translateX(15px) !important;
}

.flash-message {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2100;
  background-color: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #bdb9b9;
  min-height: 200px;
  text-align: center;
  padding: 8px;
}

@media only screen and (max-width: 768px) {
  .flash-message {
    top: 35%;
    width: 85%;
  }
}

.flash-message h4 {
  padding: 8px;
}

.search-background {
  background-color: #ffffff;
}

.search-btn {
  width: 80px;
}
/*# sourceMappingURL=style.css.map */