{% extends "base.html"%}
{% block content %}

<div class="row card-panel grey lighten-5">
    <form class="col s8 offset-s2" method="POST" action="{{ url_for('add_post') }}">
        <!-- Select a category -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-4">category</i>
                <select name="category" id="category" class="validate" required>
                    <option value="" disabled selected>Select Category</option>
                    {% for category in categories %}
                      <option value="{{ category._id }}">{{ category.title.upper() }}</option>
                    {% endfor %}
                </select>
                <label for="category">Category</label>
            </div>
        </div>
        <!-- Write down title -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-4">title</i>
                <input id="title" name="title" type="tel" class="validate teal-text text-darken-4" minlength="5" maxlength="125" required>
                <label for="title">Title</label>
            </div>
        </div>
        <!-- Write post -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-4">insert_comment</i>
                <textarea id="content" name="content" class="materialize-textarea teal-text text-darken-4" minlength="5" maxlength="3000" required></textarea>
                <label for="content">Your Post</label>
            </div>
        </div>
        <!-- Img url -->
        <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix teal-text text-darken-4">image</i>
              <input id="img_src" name="img_src" type="tel" class="validate teal-text text-darken-4" minlength="5" maxlength="1025">
              <label for="img_src">Image Url</label>
          </div>
      </div>

        <div class="row">
            <div class="col s12 center-align">
                <button class="top-menu waves-effect waves-light btn blue-grey darken-1" type="submit" name="action">Add Post
                  <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}