<aside>
    <div class="col l4 m12 s12">
        <ul class="collection z-depth-1">
            <!-- Add most liked post -->
            {% for post in posts %}
                {% if post._id|string == most_liked %}
                    <a href="{{ url_for('read_post', post_id=post._id) }}" class="{{post._id|string}}">
                        <li class="collection-item avatar hoverable">
                            <div class="row" style="margin-bottom: 0px;">
                                {% for category in categories %}
                                    {% if post.category == category._id|string %}
                                        <div class="col l3 m3 s3 card-image">
                                            <img src="{{ category.img_src }}" alt="{{ category.title }}"/>
                                        </div>
                                        <div class="recommended-title">
                                            <div class="col l9 m9 s12">
                                                <p>
                                                    <span class="title" style="text-transform: uppercase;"><small>{{ category.title }}</small></span>
                                                    <span class="title" style="text-transform: uppercase; float: right;">
                                                        <small>
                                                            <span class="like-dislike">
                                                                <i class="far fa-thumbs-up like-hand"></i> {{ post._id|string | check_likes}}
                                                            </span>
                                                            <span class="like-dislike">
                                                                <i class="far fa-thumbs-down dislike-hand"></i> {{ post._id|string | check_dislikes}}
                                                            </span>
                                                        </small>
                                                    </span>
                                                <p>
                                            </div>
                                            <div class="col l9 m9 s12">
                                                <p>
                                                    <b><span class="title">{{ post.title }}</span></b>
                                                </p>
                                            </div>
                                            <div class="col l9 m9 s12">
                                                {% for user in users %}
                                                    {% if user._id|string == post.user_id %}
                                                        <p>
                                                            <span style="float:left;">{{ user.username }}</span> 
                                                            <span style="float:right;">{{ post.date }}</span>
                                                        </p>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
            <hr>
            <!-- Add most commented post -->
            {% for post in posts %}
                {% if post._id|string == most_commented %}
                    <a href="{{ url_for('read_post', post_id=post._id) }}" class="{{post._id|string}}">
                        <li class="collection-item avatar hoverable">
                            <div class="row" style="margin-bottom: 0px;">
                                {% for category in categories %}
                                    {% if post.category == category._id|string %}
                                        <div class="col l3 m3 s3 card-image">
                                            <img src="{{ category.img_src }}" alt="{{ category.title }}"/>
                                        </div>
                                        <div class="recommended-title">
                                            <div class="col l9 m9 s12">
                                                <p>
                                                    <span class="title" style="text-transform: uppercase;"><small>{{ category.title }}</small></span>
                                                    <span class="title" style="text-transform: uppercase; float: right;"><small>Most Commented</small></span>
                                                </p>
                                            </div>
                                            <div class="col l9 m9 s12">
                                                <p> 
                                                    <b><span class="title">{{ post.title }}</span></b>
                                                </p>
                                            </div>
                                            <div class="col l9 m9 s12">
                                                    {% for user in users %}
                                                        {% if user._id|string == post.user_id %}
                                                            <p>
                                                                <span style="float:left;">{{ user.username }}</span> 
                                                                <span style="float:right;">{{ post.date }}</span>
                                                            </p>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
            <hr>
            <!-- Add random post -->
            {% for post in posts %}
                {% if post._id|string == random_post %}
                    <a href="{{ url_for('read_post', post_id=post._id) }}" class="{{post._id|string}}">
                        <li class="collection-item avatar hoverable">
                            <div class="row" style="margin-bottom: 0px;">
                                {% for category in categories %}
                                    {% if post.category == category._id|string %}
                                    <div class="col l3 m3 s3 card-image">
                                        <img src="{{ category.img_src }}" alt="{{ category.title }}"/>
                                    </div>
                                    <div class="recommended-title">
                                        <div class="col l9 m9 s12">
                                            <p>
                                                <span class="title" style="text-transform: uppercase;"><small>{{ category.title }}</small></span>
                                                <span class="title" style="text-transform: uppercase; float: right;">
                                                    <small>
                                                        <span class="like-dislike">
                                                            <i class="far fa-thumbs-up like-hand"></i> {{ post._id|string | check_likes}}
                                                        </span>
                                                        <span class="like-dislike">
                                                            <i class="far fa-thumbs-down dislike-hand"></i> {{ post._id|string | check_dislikes}}
                                                        </span>
                                                    </small>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col l9 m9 s12">
                                            <p>
                                                <b><span class="title">{{ post.title }}</span></b>
                                            </p>
                                        </div>
                                        <div class="col l9 m9 s12">
                                            {% for user in users %}
                                                    {% if user._id|string == post.user_id %}
                                                        <p>
                                                            <span style="float:left;">{{ user.username }}</span> 
                                                            <span style="float:right;">{{ post.date }}</span>
                                                        </p>
                                                    {% endif %}
                                                {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- Search section -->
        <form action="/search" method="post" class="col s12">
            <div class="row valign-wrapper center-align search-background z-depth-1">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required="">
                    <label for="query">Search</label>
                </div>
                <div class="col s8 m4">
                    <a href="/welcome" class="search-btn edit-post-btn top-menu waves-effect waves-light btn-small blue-grey darken-1">Reset</a>
                    <button type="submit" class="search-btn edit-post-btn top-menu waves-effect waves-light btn-small blue-grey darken-1">
                        Search 
                    </button>
                </div>
            </div>
        </form>

    </div>
</aside>