{% extends "base.html" %}
{% block content %}

<!-- Horizontal card -->

<div class="row">

    <div class="col l8 m12 s12">
        {% for post in posts %}
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img
                    src="{{ post.img_src }}">
            </div>
            <div class="card-stacked">
                <div class="card-title">
                    <p>{{ post.title }}</p>
                    <p>{{ post.short_description }}</p>
                </div>
                <div class="card-content">
                    <p>{{ post.content }}</p>
                </div>
                <div class="card-author">
                    <p>
                        {{ post.user_id }}
                        <span style="float:right;">{{ post.date }}</span>
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>

                    <!-- red action button -->
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large red">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                            </li>
                            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- aside titles -->
    <aside>
        <div class="col l4 m12 s12">
            <ul class="collection z-depth-1">
                <li class="collection-item avatar">
                    <img src="images/yuna.jpg" alt="" class="circle">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">insert_chart</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red">play_arrow</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
    </aside>

</div>

{% endblock %}