{% extends "base.html" %}
{% block content %}

<!-- Horizontal card -->

<div class="row">

    <div class="col l8 m12 s12">
        {% for post in posts %}
        <a href="{{ url_for('read_post', post_id=post._id) }}">
        <div class="card horizontal hoverable">
            <div class="card-image">

                {% for category in categories %}
                    {% if post.category == category._id|string %}
                        <img src="{{ category.img_src }}" alt="{{ category.title }}"/>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="card-stacked">
                <div class="card-title">
                    <small>
                        {% for category in categories %}
                            {% if post.category == category._id|string %}
                                {{ category.title|upper }}
                            {% endif %}
                        {% endfor %}
                    </small><br>
                    <hr class="card-line">
                    <strong>{{ post.title }}</strong>
                </div>
                <div class="card-content" style="word-wrap: break-word;">
                    <p id="text-to-read">{{ post.content }}</p>
                </div>
                <div class="card-author">
                    <p>
                        {% for user in users %}
                            {% if post.user_id == user._id|string %}
                                {{ user.username }}
                            {% endif %}
                        {% endfor %}
                        <span style="float:right;">{{ post.date }}</span>
                    </p>
                </div>
                <hr class="card-line">
                <div class="card-action">
                    {% for user in users %}
                        {% if user._id|string == post.user_id %}
                            {% if user.username == session.user %}
                                <a href="{{ url_for('edit_post', post_id=post._id) }}" class="waves-effect waves-light btn-small blue-grey darken-1">Edit Post</a>
                                <a href="{{ url_for('delete_post', post_id=post._id) }}" class="waves-effect waves-light btn-small blue-grey darken-1">Delete Post</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <!-- <a href="{{ url_for('read_post', post_id=post._id) }}">Read Post</a> -->

                    <!-- red action button -->
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large waves-effect waves-light btn blue-grey darken-1">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                        <ul>
                            {% if session.user %}
                                <!-- Like -->
                                <li><a href="{{ url_for('like', post_id=post._id) }}" class="btn-floating waves-effect waves-light btn blue-grey darken-1"><i class="far fa-thumbs-up like-hand"></i></a></li>
                                <!-- Dislike -->
                                <li><a href="{{ url_for('dislike', post_id=post._id) }}" class="btn-floating waves-effect waves-light btn blue-grey darken-1"><i class="far fa-thumbs-down dislike-hand"></i></a>
                                </li>
                                <!-- Pin/Unpin -->
                                <li><a href="{{ url_for('pined', post_id=post._id) }}" class="btn-floating waves-effect waves-light btn blue-grey darken-1"><i class="fas fa-thumbtack"></i></a></li>
                            {% endif %}
                            <li><a class="btn-floating waves-effect waves-light btn blue-grey darken-1"><i class="far fa-copy"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </a>
        {% endfor %}
    </div>

    <!-- aside titles -->

    {% include "aside.html" %}

</div>

{% endblock %}