{% extends "base.html"%}
{% block content %}

<div class="row card-panel grey lighten-5">
    <form class="col s8 offset-s2" method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">
        <!-- Select a category -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-4">category</i>
                <select name="category" id="category" class="validate" required>
                    <option value="" disabled selected>Select Category</option>
                    {% for category in categories %}
                        {% if category._id|string == post.category %}
                            <option value="{{ category._id }}" selected>{{ category.title.upper() }}</option>
                        {% else %}
                            <option value="{{ category._id }}">{{ category.title.upper() }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category">Category</label>
            </div>
        </div>
        <!-- Write down title -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-4">title</i>
                <input value="{{ post.title }}" id="title" name="title" type="tel" class="validate teal-text text-darken-4" minlength="5" maxlength="125" required>
                <label for="title">Title</label>
            </div>
        </div>
        <!-- Write post -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-4">insert_comment</i>
                <textarea id="content" name="content" class="materialize-textarea teal-text text-darken-4" minlength="5" maxlength="3000" required>{{ post.content }}"</textarea>
                <label for="content"><span class="text-area-span">Your Post</span></label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('read_post', post_id=post._id) }}" class="edit-post-btn top-menu waves-effect waves-light btn-small blue-grey darken-1">
                    <i class="back-btn material-icons left">send</i>
                    Read Post
                </a>
                <button class="edit-post-btn top-menu waves-effect waves-light btn-small blue-grey darken-1" type="submit" name="action">Edit Post
                  <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}