{% extends "base.html" %}
{% block content %}

<!-- Horizontal card -->

<div class="row">

    <div class="col l8 m12 s12">
    <div class="card horizontal">
        {% if post.img_src != " " %}
            <div class="card-image">
                {% for category in categories %}
                    {% if post.category == category._id|string %}
                        <img src="{{ category.img_src }}" alt="{{ category.title }}"/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
      <div class="card-stacked">
        <div class="card-title">
            <small>
                {% for category in categories %}
                    {% if post.category == category._id|string %}
                        {{ category.title|upper }}
                    {% endif %}
                {% endfor %}
            </small><br>
            <strong>{{ post.title }}</strong>
        </div>
        <div id="read" class="card-content" style="word-wrap: break-word;">
            <p id="text-to-read">{{ post.content }}</p>
        </div>
        <div class="card-author">
            <p>
                {% for user in users %}
                    {% if post.user_id == user._id|string %}
                        {{ user.username }}<br>
                    {% endif %}
                {% endfor %}
                <span style="float:right;">{{ post.date }}</span>
            </p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('welcome') }}" class="waves-effect waves-light btn-small blue-grey darken-1">Back</a>
            <!-- Modal Trigger -->
        {% if session.user %}
            <a class="waves-effect waves-light btn-small blue-grey darken-1 modal-trigger" href="#modal1">Comment</a>
        {% endif %}
            <!-- Add Comment Modal -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                <h4>Comment</h4>
                <!-- add comment form -->
                <div class="row">
                    <form class="col s12" method="POST" action="{{ url_for('comment', post_id=post._id) }}">
                        <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">insert_comment</i>
                        <textarea id="comment" name="comment" class="materialize-textarea teal-text text-darken-4" minlength="5" maxlength="3000" required></textarea>
                        <label for="comment">Your Comment</label>
                        </div>
                        <button class="top-menu waves-effect waves-light btn-small blue-grey darken-1" type="submit" name="action">Comment
                            <i class="material-icons right">send</i>
                          </button> 
                    </form>
                </div>
                </div>
            </div>

           <!-- red action button -->
           <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light btn blue-grey darken-1">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                {% if session.user %}
                    <!-- Like -->
                    <li><a href="{{ url_for('like', post_id=post._id) }}" class="btn-floating waves-effect waves-light btn blue-grey darken-1"><i class="far fa-thumbs-up"></i></a></li>
                    <!-- Dislike -->
                    <li><a href="{{ url_for('dislike', post_id=post._id) }}" class="btn-floating waves-effect waves-light btn blue-grey darken-1"><i class="far fa-thumbs-down"></i></a>
                    </li>
                    <!-- Pin/Unpin -->
                    <li><a href="{{ url_for('pined', post_id=post._id) }}" class="btn-floating waves-effect waves-light btn blue-grey darken-1"><i class="fas fa-thumbtack"></i></a></li>
                {% endif %}
                <li><a class="btn-floating waves-effect waves-light btn blue-grey darken-1"><i class="far fa-copy"></i></a></li>
            </ul>
        </div>
        </div>
      </div>
    </div>

        <!-- Comment section -->
        <div class="col l10 s10 m10 offset-l1 offset-s1 offset-m1">

            {% for comment in comments%}
                {% if comment.post_id == post._id|string %}
            <div class="card horizontal">
                <div class="card-stacked">
                    {% for user in users%}
                            {% if comment.user_id == user._id|string %}
                                <p>{{ user.username }} <span>{{ comment.date }}</span></p>
                            {% endif %}
                        <!-- <a href="#" class="right">Comment</a> -->
                        {% endfor %}
                        <hr>
                    <div class="card-content">
                        <p>{{ comment.comment}}</p>
                    </div>
                    <hr>

                    <div class="card-action">
                        {% for user in users %}
                            {% if user._id|string == post.user_id %}
                                {% if user.username == session.user %}
                                    <a href="{{ url_for('delete_comment', comment_id=comment._id) }}" class="waves-effect waves-light btn-small blue-grey darken-1">Delete</a>
                                    <a href="#{{comment._id|string}}"  class="waves-effect waves-light btn-small modal-trigger blue-grey darken-1">Edite</a>
                                    <!-- Edite Comment Modal -->
                                    <div id="{{comment._id|string}}" class="modal">
                                        <div class="modal-content">
                                            <h4>Edit</h4>
                                                <!-- edit comment form -->
                                                <div class="row">
                                                    <form class="col s12" method="POST" action="{{ url_for('edit_comment', comment_id=comment._id) }}">
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix teal-text text-darken-4">insert_comment</i>
                                                            <textarea id="comment" name="comment" class="materialize-textarea teal-text text-darken-4" minlength="5" maxlength="3000" required>{{ comment.comment }}</textarea>
                                                            <label for="comment">Your Comment</label>
                                                        </div>
                                                        <button class="top-menu waves-effect waves-light btn-small blue-grey darken-1" type="submit" name="action">Edit
                                                        <i class="material-icons right">send</i>
                                                        </button> 
                                                    </form>
                                                </div>
                                            </div>
                                    </div>
                                    
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!-- Comment for comment
                        <div class="card horizontal">sssssssss</div> -->
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}
            
        </div>
    </div>


    <!-- aside titles -->
    {% include "aside.html" %}

</div>

{% endblock %}